@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inder&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    text-decoration: none;
}


body {
    font-size: 100%;
    background-color: white;
}

.m-paginaprincipal {
    width: 100%;
    background: rgb(11,10,11);
    background: linear-gradient(23deg, rgba(11,10,11,1) 0%, rgba(86,42,85,1) 69%, rgba(163,68,163,1) 100%);
    font-size: 100%;
    height: 100vh;
}

header {
    height: 10vh;
    width: 100%;
}

.m-logo-linkedin {
    width: 50px;
    float: right;
    margin: 8px 15px;
}



.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-top: solid 3px rgba(248, 211, 242, 0.73);
    justify-content: space-around;
}

article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15vw;
    margin-right: 25vw;
    gap: 15px;
    margin-top: 8vw;
}

.m-imagem-principal {
   width: 25%;
   height: 25%;
   margin-right: 15vw;
   margin-top: 8vw;
}



.m-titulo, .m-detalhe-titulo {
    font-family: 'Courier Prime', monospace;
    color: white;
    font-size: clamp(2rem, 3rem, 4rem)
}

.m-detalhe-titulo {
    color: rgba(154, 95, 138, 0.99);
}

.m-descricao {
    color: white;
    font-size: clamp(0.7rem, 1rem, 1.3rem);
    gap: 12px;
    font-family: 'Inder', sans-serif;
    overflow-x: hidden;
}

.m-wrapper {
    display: flex;
    height: 100vh;
    background-color: white;
    margin: 0%;
}

.m-right-column {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    padding-right: 0;
}

.navigator {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    padding-right: 0;
}

.navigator ul li {
    list-style: none;
    margin: 40px 0;
    margin-right: 3vw;
}

.navigator ul li a:hover,
.navigator ul li a.active {
    background-color: white;
    color: rgb(247, 144, 224);
}

.navigator ul li:first-child {
    margin-top: 0;
}

.navigator ul li:last-child {
    margin-bottom: 0;
}

.navigator ul li a {
    color: white;
    border: solid 2px rgba(154, 95, 138, 0.99);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(154, 95, 138);
    font-family: 'Inder', sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.navigator::before {
    content: '';
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: rgba(154, 95, 138);
    z-index: 0;
    margin-right: 49px;
}

.navigator ul{
    z-index: 1;
}

a.link {
    color: rgb(109, 108, 108);
    font-size: 0.6rem;
}

.m-slide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: inherit;
    padding: 150px 150px;
    width: 100%;
  
}


.m-slide-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: rgba(154, 134, 153, 0.23);
    border-radius: 25px;
    position: relative;
    padding: 10px;
    width: 450px;
    height: 350px;
}

.m-img {
    width: 30%;
    border-radius: 25px;
}

.m-titulo-secundario {
    font-family: 'Courier Prime', monospace;
    font-size: 3rem;
    color: rgba(154, 95, 138, 0.99);
}

.m-biografia {
    color: black;
    font-size: 1.2rem;
    gap: 20px;
    font-family: 'Inder', sans-serif;
    font-weight: 150;
}

.m-rodape{
    padding-top: 4px 0px 4px 0px;
    background-color: white;
    background-color: rgba(231, 159, 231, 0.699);
    display: flex;
    width: 100%;
    height: 70px;
    position: absolute;
    margin-top: 200px;
}

.m-referencia {
    margin-right: 500px;
}

@media(max-width: 1030px) {
    .m-wrapper-principal {
        width: 100vw;
    }
    body {
        overflow-x: scroll;
    }
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .article {
        width: 100%;
    }
    .m-titulo, .m-detalhe-titulo {
        font-family: 'Courier Prime', monospace;
        color: white;
        font-size: 2.5rem
    }
    .m-detalhe-titulo {
        color: rgba(154, 95, 138, 0.99);
    }
    .m-imagem-principal {
        width: 200px;
        height: 200px;
        margin-right: 15vw;
        margin-top: 8vw;
     }
     .m-wrapper {
        width: 100vw;
        height: 100vh;
     }
     .m-slide {
        width: 88vw;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 2vh 0;
        position: absolute;
        gap: 7vw;
     }
     h2.m-titulo-secundario {
        font-size: 1rem;
     }
     p.m-biografia{
        font-size: 0.6rem;
     }
     .m-right-column {
        width: 4vw;
     }
     
     .m-slide-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(154, 134, 153, 0.23);
        border-radius: 25px;
        position: relative;
        width: 45vh;
        height: 35vh;
    }
    .m-img {
        width: 200px;
        
    }
    .m-rodape{
        padding-top: 0;
        background-color: rgba(231, 159, 231, 0.699);
        display: flex;
        width: 100%;
        height: 10vh;
        position: absolute;
        margin-bottom: 0px;
    }
    .m-referencia {
        margin-right: 0px;
    }
    .navigator ul li {
        margin: 20px 0;
        margin-right: 9vw;
    }
    .navigator::before {
        top: 5rem;
        width: 2px;
        height: 70%;
        margin-right: 9vw;
    }
    .m-right-column {
        width: 5vw;
    }
    .navigator ul li a {
        width: 30px;
        height: 30px;
        padding: 2px;
    }

}
@media(max-width: 450px){
    .m-slide-texto{
        width: 40vh;
        height: 35vh;
    }
    h2.m-titulo-secundario {
        font-size: 1.2rem;
     }
     p.m-biografia{
        font-size: 0.9rem;
}
}
@media(max-width: 360px){
    .m-logo-linkedin {
        width: 40px;
    }
    .m-titulo, .m-detalhe-titulo {
        font-family: 'Courier Prime', monospace;
        color: white;
        font-size: 1.5rem
    }
    .m-detalhe-titulo {
        color: rgba(154, 95, 138, 0.99);
    }
    .m-descricao {
        font-size: 0.8rem;
    }
    
    h2.m-titulo-secundario {
        font-size: 1rem;
     }
     p.m-biografia{
        font-size: 0.7rem;
}
    .m-imagem-principal {
        width: 170px;
        height: 170px;
        margin-left: 10vw;
        
    }
   
.navigator ul li a {
    width: 30px;
    height: 30px;
    padding: 2px;
}
.navigator {
    margin-top: 80vw;
}
.m-img {
    width: 160px;
    border-radius: 25px;
}
}